@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Global Styles */
* {
  font-family: 'AppleSDGothicNeo', 'Noto Sans KR', 'sans-serif';
  box-sizing: border-box;
}

/* Hide scrollbar */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

/* Pretendard500 font for body */
body {
  font-family: 'Pretendard500';
}

/* Reset button, input, select, textarea */
button,
input,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  background: #fff;
  border: none;
  box-shadow: none;
}

button,
input,
select,
textarea:focus {
  outline: none;
}

/* Remove text decoration for links */
a {
  text-decoration: none;
}

/* Pointer cursor on button hover */
button:hover {
  cursor: pointer;
}

/* Remove list styles */
ul,
li {
  list-style: none;
}